/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4634b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c4634b;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

.table-content {
  background-color: transparent;
}

.table>:not(caption)>*>* {
  padding: 0.5rem 0.5rem;
  background-color: #ffd8c2;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.btn {
  margin-right: 10px;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #c4634b;
  --bs-btn-border-color: #c4634b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #a34e38;
  --bs-btn-hover-border-color: #a34e38;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c4634b;
  --bs-btn-active-border-color: #c4634b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #c4634b;
  --bs-btn-disabled-border-color: #c4634b;
}
